// Typography
.font {
    font-family: $font-family;
    font-size: $font-size;

    @media screen and (max-width: $screen-phone) {
        font-size: $font-size-md;
    }

    &__h1 {
        font-size: 44px;
        font-weight: 700;
        @media screen and (max-width: $screen-phone) {
            font-size: 32px;
        }
    }
    &__h2 {
        font-size: 32px;
        font-weight: 700;

        @media screen and (max-width: $screen-phone) {
            font-size: 24px;
        }
    }
    &__h3 {
        font-size: 24px;
        font-weight: 700;
    }
    &__h4 {
        font-size: 20px;
        font-weight: 700;
    }
    &__h5 {
        font-size: 16px;
        font-weight: 700;

        @media screen and (max-width: $screen-phone) {
            font-size: 14px;
        }
    }
}
