.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    background-color: #F36223;
    color: #FFFFFF;
    height: 24px;
    border-radius: 500px;
}
