.feedback {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 30px;

    @media screen and (max-width: $screen-desktop) {
        grid-template-columns: 0 1fr;
        gap: 0;
    }
}

@import '__main/feedback__main';
@import '__form/feedback__form';
@import '__inputs/feedback__inputs';
@import '__input/feedback__input';
@import '__textarea/feedback__textarea';
@import '__title/feedback__title';
