.ads {
    font-size: 14px;
    font-weight: 400;
    color: $color-gray-dark;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (max-width: $screen-phone) {
        display: none;
    }
}

@import '__title/ads__title';
@import '__content/ads__content';
@import '__frame/ads__frame';
