.reviews__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    @media screen and (max-width: $screen-phone) {
        gap: 30px;
    }
}

@import '_direction/reviews__items_direction';
