.footer {
    background-color: $color-gray-light;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__info {
        font-size: 14px;
    }
}
