.container {
    max-width: calc($screen-desktop + 1px);
    margin: 0 auto;
    padding: 0 $gutter-lg;
}

@media screen and (max-width: $screen-desktop) {
    .container {
        padding: 0 $gutter-sm;
        max-width: $screen-big-tablet;
    }
}
