.iframe {
    border: 1px dashed #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #f0f0f0;
    height: 300px;
    width: 100%;
}

@import '__placeholder/iframe__placeholder'
