.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: $color-main;
    color: $color-white;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;

    &:hover {
        background: $color-main-dark;
    }

    &:active {
        background: $color-main-darkest;
    }
}

@import '_lg/btn_lg';
@import '_border/btn_border';
@import '_inactive/btn_inactive';
@import '_img/btn_img';
@import '__text/btn__text';
