.comparison-chart {
    font-weight: 400;
    display: grid;
    grid-template-rows: 1fr;
    border: 1px solid $color-gray-dark;
    border-right: none;
    overflow: hidden;

    &__col {
        position: relative;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        border-right: 1px solid $color-gray-dark;
        cursor: default;
        
        &:hover::after,
        &:hover::before {
            content: '';
            position: absolute;
            z-index: -1;
            background-color: $color-gray-light;
        }

        &:hover::after {
            top: -5000px;
            left: 0;
            width: 100%;
            height: 10000px;
        }

        &:hover::before {
            top: 0;
            left: -5000px;
            width: 10000px;
            height: 100%;
        }
    }

    &__header {
        pointer-events: none;
        font-weight: 700;
        border-bottom: 1px solid $color-gray-dark;
    }

    &__row {
        display: grid;
        grid-template-columns: 1.3fr 0.9fr repeat(4, 1.2fr) 1.6fr 1.5fr;
    }
}