.link {
    color: $color-secondary;
    text-decoration: none;

    &:hover {
        color: $color-main;
    }

    &:active {
        color: $color-main-darkest;
    }
}

@import '_breadcrumbs/link_breadcrumbs';
