.btn_border {
    border: 1px solid $color-gray-dark;
    background: $color-white;
    color: $color-black;
}

.btn_border:hover {
    background: $color-gray-light;
}

@import '_img/btn_border_img';
@import '_selected/btn_border_selected';
