.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (max-width: $screen-phone)  {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
