.product {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@import '__header/product__header';
@import '__body/product__body';
@import '__main/product__main';
@import '__info/product__info';
@import '__properties/product__properties';
@import '__gallery/product__gallery';
@import '__delivery/product__delivery';
@import '__img-wrapper/product__img-wrapper';
@import '__img/product__img';
@import '__comparison/product__comparison';
