.product__body {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-weight: 500;
}

@media screen and (max-width: $screen-desktop) {
    .product__body {
        gap: 40px;
    }
}
