$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-dark: #989898;
$color-gray-light: #F2F2F2;
$color-main: #F36223;
$color-main-dark: #DA4A0C;
$color-secondary: #008CF0;

// Screen sizes
$screen-desktop: 1499px;
$screen-big-tablet: 1024px;
