* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

a {
    color: #018ad2;
    text-decoration: none;
}
a:hover {
    color: #c00;
}

p:not(:last-of-type) {
    margin-bottom: 16px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

/* Components */
.list {
    margin-left: 1rem;
}

.btn {
    padding: 8px 12px;
    background: #f52;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
.btn:hover {
    background: #f5673c;
}

.iframe {
    border: 1px dashed #ccc;
    height: 400px;
}

/* Logo */
.logo {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.logo__title {
    margin: 0;
    line-height: 0.7em;
}

/* Header */
.header__logo {
    margin: 1rem 0;
}

/* Breadcrumbs */
.breadcrumbs {
    display: flex;
    margin-bottom: 1rem;
}
.breadcrumbs__item::after {
    content: '>';
    padding: 0 0.5rem;
}
.breadcrumbs__item:last-child::after {
    content: '';
}

/* Grid container*/
.grid {
    display: grid;
}

/* Comparison chart */
.comparison-chart {
    grid-template-rows: 1fr;
}

.comparison-chart__row {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
.comparison-chart__row_header {
    font-weight: bold;
}

.comparison-chart__col {
    padding: 5px 10px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.comparison-chart__col:first-child {
    border-left: none;
}

.comparison-chart__row:last-child .comparison-chart__col {
    border-bottom: none;
}

/* Reviews */
.reviews__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.reviews__count {
    color: #aaa;
}

/* Review */
.review {
    display: flex;
    column-gap: 16px;
}

/* Utilities */
.colored {
    color: #ff5522;
}
