.product {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@import '__header/product__header';
@import '__main/product__main';
@import '__body/product__body';
@import '__properties/product__properties';
@import '__sidebar/product__sidebar';
@import '__gallery/product__gallery';
@import '__delivery/product__delivery';